.tablazat{
    text-align: center;
}
* {
    color: rgb(253, 255, 120);
    font-size: larger;
}
h1 {
font-size: 100px; 
text-align: center;
}
.tabli {
border: 10px solid rgb(253, 255, 120);
border-collapse: collapse;
}
#fej {
    font-size: 60px; 
    text-align: center; 
    border: 10px solid rgb(253, 255, 120);
}